<!-- ko ifnot: settings.plugins.psucontrol -->
<span class="help-inline label label-important">This plugin requires <a href="https://plugins.octoprint.org/plugins/psucontrol/" target="_blank">PSU Control</a> in order to function. It can be installed from the Plugin Manager.</span>
<!-- /ko -->

<form class="form-horizontal">
    <h4>General</h4>
    <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_tplink.address" placeholder="127.0.0.1">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Port</label>
        <div class="controls">
            <input type="number" min="1024" max="65535" class="input-mini" data-bind="value: settings.plugins.psucontrol_tplink.port" placeholder="9999">
            <br />
            <span class="help-inline">Default port: 9999. Only change if you know what you are doing.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Plug</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psucontrol_tplink.plug">
            <br/>
            <span class="help-inline">For single plug devices leave zero</span>
        </div>
    </div>
</form>
