<!-- ko ifnot: settings.plugins.psucontrol -->
<span class="help-inline label label-important">This plugin requires <a href="https://plugins.octoprint.org/plugins/psucontrol/" target="_blank">PSU Control</a> in order to function. It can be installed from the Plugin Manager.</span>
<!-- /ko -->

<form class="form-horizontal">
    <h4>Printer</h4>
    <div class="control-group">
        <label class="control-label">IP Address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_tplink.address" placeholder="127.0.0.1">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Plug</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psucontrol_tplink.plug">
            <br/>
            <span class="help-inline">For single plug devices leave zero</span>
        </div>
    </div>

    <h4>Light</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_tplink.lightEnabled"> Enabled
            </label>
            <span class="help-inline">Useful for multiple plugs</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">IP Address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_tplink.lightAddress" placeholder="127.0.0.1">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Plug</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psucontrol_tplink.lightPlug">
            <br/>
            <span class="help-inline">For single plug devices leave zero</span>
        </div>
    </div>

    <h4>Other</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_tplink.otherEnabled"> Enabled
            </label>
            <span class="help-inline">Useful for multiple plugs</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">IP Address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_tplink.otherAddress" placeholder="127.0.0.1">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Plug</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psucontrol_tplink.otherPlug">
            <br/>
            <span class="help-inline">For single plug devices leave zero</span>
        </div>
    </div>
</form>
